@page "/events"

@using eventTicketPesentation.Models
@using eventTicketPesentation.Service
@inject IEventService _service
@inject ICategoryService _categoryService
@using eventTicketPesentation.Shared.Components.EventCard
@using eventTicketPesentation.Shared.Components.Preloader


<section class="section">
    <h1 class="events__title">Events</h1>
    <div class="filters container">
        <div class="search__container ">
            <img
                class="search__icon"
                src="images/search-icon.svg"
                alt="Search icon"/>
            <input placeholder="Search by name" class="search__input" type="text"
                   @oninput="@((arg) => FilterByName(arg))"/>
        </div>
        <select class="input filter__location" id="location" @onchange="FilterEventsByLocation">
            <option value="">Select location</option>
            <option value="">
                All
            </option>
            @if (_distinctLocations != null)
            {
                foreach (var location in _distinctLocations)
                {
                    <option value="@location">
                        @location
                    </option>
                }
            }
        </select>

        <select class="input filter__category" id="category" @onchange="FilterEventsByCategory">
            <option value="">
                Select Category
            </option>
            <option value="">
                All
            </option>
            @if (_categories != null)
            {
                foreach (var category in _categories)
                {
                    <option value="@category.Id">
                        @category.Name
                    </option>
                }
            }


        </select>
    </div>

    @if (_events == null)
    {
        <Preloader/>
    }
    else
    {
        <div class="container">
            <div class="row" style="margin-top: 40px;">
                @foreach (var eventItem in _events)
                {
                    <EventCard Event="@eventItem">
                    </EventCard>
                }
            </div>
        </div>
    }
</section>

@code {
    private List<Event> _events;
    private List<Category> _categories;
    private List<string> _locations = new List<string>();
    List<string> _distinctLocations = new List<string>();
    private string _filterByName;

    protected override async Task OnInitializedAsync()
    {
        _events = await _service.GetUpcomingEventsAsync();
        _categories = await _categoryService.GetAllCategoriesAsync();
        _distinctLocations = GetDistinctLocations();
        StateHasChanged();
    }

    private List<string> GetAllLocations()
    {
        foreach (var e in _events)
        {
            _locations.Add(e.Location);
        }
        return _locations;
    }

    private List<string> GetDistinctLocations()
    {
        _distinctLocations = GetAllLocations().Distinct().ToList();
        return _distinctLocations;
    }

    private async Task FilterEventsByCategory(ChangeEventArgs args)
    {
        if (args.Value == null || args.Value.ToString().Equals(""))
        {
            _events = await _service.GetUpcomingEventsAsync();
        }
        else
        {
            _events = await _service.GetUpcomingEventsByCategoryAsync(Convert.ToInt64(args.Value));
        }
        StateHasChanged();
    }

    private async Task FilterEventsByLocation(ChangeEventArgs args)
    {
        if (args.Value == null || args.Value.ToString().Equals(""))
        {
            _events = await _service.GetUpcomingEventsAsync();
        }
        else
        {
            _events = await _service.GetUpcomingEventsByLocationAsync((string) args.Value);
        }
        StateHasChanged();
    }


    private async Task FilterByName(ChangeEventArgs changeEventArgs)
    {
        _filterByName = null;
        try
        {
            if (changeEventArgs.Value == null || changeEventArgs.Value.ToString().Equals(""))
            {
                _events = await _service.GetUpcomingEventsAsync();
            }
            else
            {
                _filterByName = changeEventArgs.Value.ToString();
            }
        }
        catch (Exception e)
        {
        }
        ExecuteFilter();
        StateHasChanged();
    }

    private void ExecuteFilter()
    {
        _events = _events.Where(e =>
            ((_filterByName != null && e.Name.ToLower().Contains(_filterByName.ToLower()) || _filterByName == null) || _filterByName == null)).ToList();
    }

}