@inject NavigationManager _navigationManager
<CascadingValue Value="this">
    <div id="@Id">
        <ul class="nav nav-pills nav-justified">
            @foreach (var step in Steps)
            {
                <li id="step-@(StepsIndex(step) + 1)" class="nav-item">
                    <a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)"
                       @onclick="@(e => SetActive(step))">
                        @step.Name
                    </a>
                </li>
            }
        </ul>
        <div id="container-fluid">
            @ChildContent
        </div>
    </div>
    <div class="button-group">
        <div class="btn-group">
        <button type="button" class="mr-3"
                disabled="@(ActiveStepIx == 0)" @onclick="GoBack">
            Previous
        </button>
            <button type="button"
                    @onclick="Cancel">
                Cancel
            </button>
            </div>
        <button
            type="@(IsLastStep ? "submit" : "button")" @onclick="@(IsLastStep ? Submit : GoNext)">
            @(IsLastStep ? "Buy" : "Next")
        </button>
    </div>
</CascadingValue>

@code
{
    [Parameter]
    public Action Submit { get; set; }

    private void Cancel()
    {
        try
        {
            _navigationManager.NavigateTo("/events");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}