@inject ExportService _exportService
@inject Microsoft.JSInterop.IJSRuntime _jsRuntime
@using System.IO
@using eventTicketPesentation.Data
@using eventTicketPesentation.Models
@using eventTicketPesentation.Service
@using eventTicketPesentation.Service.dto
<div class="col-md-6">
    <div class="ticket__item">
        <div class="ticket__event-image">
            <a href="/events/@Ticket.EventId">
                <img class="img-fluid"
                     src="@Ticket.Thumbnail"
                     alt="Thumbnail">
            </a>
        </div>

        <div class="ticket__details">
            <div class="ticket__number">
                <span >@Ticket.TicketNumber</span>
            </div>
            <h4 class="ticket__title">
                <a href="/events/@Ticket.EventId">@Ticket.NameOfEvent</a>
            </h4>
            <div class="ticket__info">
                <ul class="ticket__time-location p-0">
                    <li class="list-unstyled d-flex mb-3">
                        <img class="mr-2" src="images/calendar-icon.svg" alt="Calendar icon"/>
                        <p class="m-0">later</p>
                    </li>
                    <li class="list-unstyled d-flex mb-3">
                        <img class="mr-2" src="images/time-icon.svg" alt="Time icon"/>
                        <p class="m-0">@Ticket.DateTimeOfEvent</p>
                    </li>
                    <li class="list-unstyled d-flex mb-3">
                        <img class="mr-2" src="images/location-icon.svg" alt="Location icon"/>
                        <p class="m-0">@Ticket.Location</p>
                    </li>

                    <li class="list-unstyled d-flex mb-3">
                        <img class="mr-2" src="images/tickets-icon.svg" alt="Tickets icon"/>
                        <p class="ticket__count m-0"> @( @Ticket.NumberOfTickets > 1 ? @Ticket.NumberOfTickets + " tickets" :  @Ticket.NumberOfTickets +" ticket" )
                              at the price of <strong >@Ticket.Price</strong> dkk
                        </p>
                    </li>

                </ul>
            </div>
            <button @onclick="@ExportToPdf" class="d-flex mx-auto">See Ticket</button>
        </div>

    </div>
</div>

@code {
    
    [Parameter]
    public TicketWithEventDTO Ticket { get; set; }
    [Parameter]
    public Event Event { get; set; }
    protected async Task ExportToPdf()
    {
        await using (MemoryStream memoryStream = _exportService.CreatePdf(Ticket))
        {
            await _jsRuntime.SaveAs("Ticket.pdf", memoryStream.ToArray());
        }
    }

}