@using eventTicketPesentation.Models

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 my-2">
     <a class="card__link" href="@($"/event/{@Event.id}")">
     <div class="card">

         <div class="card__image-container">
             <img class="card__image img-fluid" alt="Event image" src="@Event.thumbnail"/>
         </div>
         <div class="card__data">
             <div class="card__info">
                 <p class="card__category">@Event.Category</p>
                 <span class="card__date">@Event.dateTime.ToShortDateString()</span>
             </div>
             <h4 class="card__title">@Event.name</h4>
         </div>

     </div>
     </a>
</div>

@code {

    [Parameter]
    public Event Event { get; set; }

}