@page "/addEvent"
@attribute [Authorize(Policy = "isAdmin")]
@using eventTicketPesentation.Shared.Components.NavMenu
@using eventTicketPesentation.Models
@using eventTicketPesentation.Service

@inject NavigationManager _navigationManager
@inject IEventService _service;
@inject AuthenticationStateProvider _auth;
@inject ICategoryService _categoryService

<NavMenu/>
<section class="section">
    <EditForm Model="@newEvent" OnValidSubmit="@Submit">
        <h1>Add Event</h1>
        <div class="form__group">
            <label >Name</label>
            <InputText type="text" placeholder="name" @bind-Value="newEvent.Name"/>
        </div>
        <div class="form__group">
            <label >Description</label>
            <InputTextArea type="text" placeholder="description" @bind-Value="newEvent.Description"></InputTextArea>
        </div>
        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Location</label>
                <InputSelect class="input" id="location" @bind-Value="newEvent.Location">
                    <option value="">Select location</option>
                    <option value="Copenhagen">Copenhagen</option>
                    <option value="Horsens">Horsens</option>
                    <option value="Aarhus">Aarhus</option>
                    <option value="Odense">Odense</option>
                    <option value="Aalborg">Aalborg</option>
                    <option value="Kolding">Kolding</option>
                    <option value="Esbjerg">Esbjerg</option>
                </InputSelect>
            </div>
            <div class="form__group form__group_half">
                <label >Category</label>
                <InputSelect class="input" id="category" @bind-Value="newEvent.Category">
                    <option value="">
                        Select category
                    </option>
                    @if (_categories != null)
                    {
                        @foreach (var category in _categories)
                        {
                            <option value="@category.Name">
                                @category.Name
                            </option>
                        }
                    }

                </InputSelect>
            </div>
        </div>

        <div class="form__group">
            <label >Add New Category</label>
            <InputText type="text" placeholder="new category" @bind-Value="_newCategory.Name"></InputText>
        </div>

        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Date</label>
                <InputDate @bind-Value="_date"/>
            </div>

            <div class="form__group form__group_half">
                <label >Time</label>
                <input type="time" @bind="_time"/>
            </div>
        </div>

        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Thumbnail</label>
                <InputText type="url" placeholder="url" @bind-Value="newEvent.Thumbnail"/>
            </div>

            <div class="form__group form__group_half">
                <label >Nr. of tickets</label>
                <InputNumber type="number" placeholder="number of tickets" @bind-Value="newEvent.AvailableTickets"/>
            </div>
        </div>

        <div class="form__group">
            <label >Price of a ticket</label>
            <InputNumber type="number" placeholder="price" @bind-Value="newEvent.TicketPrice"></InputNumber>
        </div>

        <DataAnnotationsValidator/>
        <ValidationSummary/>
        @if (_errorMessage != null)
        {
            <div class="error">@_errorMessage</div>
        }
        <button class="form__button-create button-green">Create</button>
    </EditForm>
</section>

@code {

    private Event newEvent = new Event();

    private DateTime _date = DateTime.Today;
    private DateTime _time = DateTime.Now;

    private string _errorMessage;
    private List<Category> _categories;
    private Category _newCategory = new Category();

    public async void Submit()
    {
        newEvent.OrganizerId = ((CustomAuthenticationStateProvider) _auth).LoggedInUser.Id;

        newEvent.TimeOfTheEvent = new DateTime(
            _date.Year, _date.Month, _date.Day,
            _time.Hour, _time.Minute, 0);

        try
        {
            if (newEvent.Category == null)
            {
                if (!_newCategory.Name.Equals(""))
                {
                    await _categoryService.CreateCategoryAsync(_newCategory);
                    newEvent.Category = _newCategory.Name;
                }
            }

            await _service.AddEventAsync(newEvent);

            _navigationManager.NavigateTo("/events");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
            _errorMessage = e.Message;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _categories = await _categoryService.GetAllCategoriesAsync();
        StateHasChanged();
    }

}